{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
    <section class="courses">
        <div class="course-card">
            <h3>Эффективное время</h3>
            <p>Научитесь управлять своим временем и достигать большего без стресса.</p>
            <button>Подробнее</button>
        </div>
        <div class="course-card">
            <h3>Ораторское мастерство</h3>
            <p>Развивайте уверенность в общении и умение вдохновлять аудиторию.</p>
            <button>Подробнее</button>
        </div>
        <div class="course-card">
            <h3>Личная мотивация</h3>
            <p>Найдите внутренние силы и двигайтесь к своим целям каждый день.</p>
            <button>Подробнее</button>
        </div>
    </section>
{% endblock %}

{% block footer %}
{% endblock %}